@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

.messageContainer {
  max-height: 70vh;
  max-width: 25vw;
  min-width: 100%;
  margin-top: 10vh;
  overflow-y: scroll;

  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.messageContainer::-webkit-scrollbar {
  width: auto;
  height: auto;
}

.messageContainer::-webkit-scrollbar {
  width: 1em;
}

.messageContainer::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: darkgrey;
  outline: 2px solid slategrey;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #454545;
  min-width: 25vw;
  max-width: 25vw;
  min-height: 100vh;
  max-height: 100vh;
  padding: 10px;
}

.user {
  color: #080808;
}

.messeges {
  display: flex;
  flex-direction: row;
  border-bottom: 2px #080808 ridge;
  min-width: 100%;
}

.messeges p {
  font-size: 16px;
}

.sender-btn {
  border-radius: 25px;
  margin: 1em;
  background-color: #080808;
  color: #a9a9a9;
  transition: all 0.2s ease-in-out;
  height: 1.5em;
  font-size: 1em;
  width: 5em;
  margin-left: 0;
}

.sender-btn:hover{
  background-color: #a9a9a9;
  color: #080808;
}

.chat_container {
  font-size: 2em;
  color: #080808;
  width: 70%;
  margin-top: 5vh;
  margin-right: 2.5vw;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.message_text {
  margin-top: 5px;
  height: 2em;
  min-width: 100%;
  font-family: 'Asap', sans-serif;
  border-radius: 15px;
  padding: 1em;
  background: #a9a9a9;
}

@media (max-width: 600px) {
  .chat_container {
    width: 90%;
  }
  .chat_container {
    font-size: 20px;
    height: 15vh;
  }
}
