h2 {
  align-self: center;
  text-justify: center;
  font-family: 'Asap', sans-serif;
  color: #f1f1f1;
}

.voting {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 100vh;
  min-height: 90vh;
  max-width: 60vw;
  overflow-y: scroll;
  margin-left: 20%;
  margin-top: 5em;
}

.voting::-webkit-scrollbar {
  width: auto;
  height: auto;
}

.voting::-webkit-scrollbar {
  width: 1em;
}

.voting::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: darkgrey;
  outline: 2px solid slategrey;
}

.qntvotes {
  border-left: solid #000000;
  padding-top: 1em;
  padding-bottom: 1em;
}

.option {
  background-color: #5b28bf;
  border: #080808 solid 2px;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  color: #f1f1f1;
  width: 50%;
  margin-left: 10%;
  margin-bottom: 2.5%;
  margin-right: 0%;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px 0px 0px 10px;
}

.option-round {
  background-color: #5b28bf;
  border: #080808 solid 2px;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  color: #f1f1f1;
  width: 60%;
  margin-left: 15%;
  margin-bottom: 5%;
  margin-right: 0%;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
}

.option:hover {
  color: #5b28bf;
  background-color: #f1f1f1;
  opacity: 100%;
  transition-delay: 1s;
}

.option-round:hover {
  color: #5b28bf;
  background-color: #f1f1f1;
  transition-delay: 1s;
}

.boxOption {
  display: flex;
}

.option:disabled {
  background-color: #8b58f0;
}

.qntvotes {
  background-color: #5b28bf;
  border: #080808 solid 2px;
  border-radius: 0px 10px 10px 0px;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  color: #f1f1f1;
  margin-left: 0%;
  padding-left: 1em;
  text-align: center;
  width: 15%;
}

.label-votes {
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  padding-left: 2em;
  color: #f1f1f1;
}

.total-votes {
  border: #080808 solid 2px;
  border-radius: 10px 10px 10px 10px;
  width: 10%;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  align-self: center;
  padding: 0.5em;
  margin-left: 1em;
  color: #f1f1f1;
}

.votes-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sharedlink {
  display: flex;
  margin-bottom: 3%;
  align-items: center;
  font-size: 1.25em;
  padding-left: 2em;
  justify-self: center;
  text-justify: center;
  color: #f1f1f1;
}
.links {
  display: flex;
  margin-left: 3em;
  color: #8b58f0;
}
.copybtn {
  border-radius: 5px;
  margin: 1em;
  background-color: #a9a9a9;
  transition: all 0.2s ease-in-out;
  height: 1.5em;
  font-size: 1.5em;
  width: 5em;
  margin-left: 0.5em;
}
p {
  font-size: 2em;
  color: #f1f1f1;
}
