@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

body {
  font-size: 62.5%;
  font-family: 'Asap', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #d1d1d1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1d1d1;
  display: flex;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 2rem;
  background-color: #5B28BF;
  margin-bottom: 5rem;
}

.box-fieldset-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  height: 36rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px black;
}

img {
  width: 5rem;
}

h2{
  font-size: 5em;
}

.box-fieldset-code {
  background-color: #ffff;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.input-code-enter {
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 2px #424040;
  margin-bottom: 1rem;
}
.input-code-password {
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 2px #424040;
  margin-bottom: 1rem;
}

.input-code-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(135deg, #DADBCD,#5B28BF) ;
  padding: 0.4rem 1.6rem;
  border: none;
  cursor: pointer;
  margin: 0.5rem 2rem;
  color: #424040;
  border-radius: 10px;
  transition: all 1.2s ease;
  font-family: 'Asap', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}


.input-btn-register, .input-btn-login {
  padding: 0;
  display: flex;
  border:none;
  font-family: 'Asap', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #dadbcd00;
  color: #5C442A;
  
}


.box-login-modal, .box-modal{
  display: flex;
  align-items: center;
  justify-content:space-around;
  border: solid black 2px;
  width: 98%;
  height: 5rem;
  background-color: #DADBCD;
  margin-bottom: 4.5rem;
  border-radius: 10px;
}

.box-modal-login, .box-modal-register, .box-modal {
  display: flex;
  align-items: center;
  width: 45%;
  height: 3.5rem;
  background-color: #F1EFE5;
  border-radius: 10px;
  
}

.box-modal-register {
  border: none;
  background-color: #a1a81600;
}

.box-modal-register:hover {
  background:linear-gradient(225deg,#a1a8167e,#F1EFE5) ;
}

.input-box-email, .input-box-password, .input-form-box{
  display: flex;
  align-items: center;
  
  padding-bottom: 1rem;
  width: 100%;
}

.input-email, .input-password, .input-form {
  display: flex;
  font-size: 1.2rem;
  font-family: 'Asap', sans-serif;
  border: none;
  width: 70%;
  border-bottom: solid 2px ;
}

.input-form{
  background-color: #f1f1f1;
  display: flex;
  font-size: 1.2rem;
  font-family: 'Asap', sans-serif;
  border: none;
  width: 70%;
  border: solid 2px ;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15%;
}

.btn-login, .bnt-forms  {
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(135deg, #DADBCD,#5B28BF) ;
  padding: 0.4rem 1.6rem;
  border: none;
  cursor: pointer;
  margin: 2rem;
  color: #080808;
  border-radius: 10px;
  transition: all 1.2s ease;
  font-family: 'Asap', sans-serif;
}

.btn-login:hover, .bnt-forms:hover {
  transition: all 1.2s ease;
  background: linear-gradient(135deg, #5B28BF, #DADBCD);
  color:#DADBCD ;
  
}

textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.asap { font-family: 'Asap', sans-serif; }

.boxOption{
  display: flex;
}

.option{
  background-color: #5B28BF;
  border: #080808 solid 2px;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  color: #f1f1f1;
  width: 60%;
  margin-left: 15%;
  margin-bottom: 5%;
  margin-right: 0%;
  padding-left: 2em;
}

.option:disabled{
  background-color: #8b58f0;
}

.option-votes{
  background-color: #5B28BF;
  border: #080808 solid 2px;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  width: 100%;
  height: 100%;
  color: #080808;
  margin-left: 0%;
  padding-left: 2em;
}

.total-votes{
  border: #080808 solid 2px;
  border-radius: 10px 10px 10px 10px;
  width: 10%;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  align-self: center;
  padding: 1em;
}

.divButtons{
  display: flex;
  justify-content: space-around;
  padding-left: 3em;
}

.side-bar{
  display: flex;
  flex-flow: column;
  background-color: #424040;
  width: 20%;
  padding-top: 2.5%;
  padding-left: 1%;
}

.navigation{
  border-radius: 50px 0px 0px 50px;
  background-color: #7c7373;
  color: #d1d1d1;
  font-size: 2em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  text-decoration: none;
}

.navigation-create{
  border-radius: 50px 50px 50px 50px;
  background-color: #080808;
  color: #f1f1f1;
  font-size: 2em;
  padding-left: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2.5em;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.page{
  display:flex;
  width: 100%;
  height: 100%;
}

.create-pool{
  display:flex;
  flex-direction: column;
  margin-left: 15%;
}

.label-input{
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  padding-left: 2em;
}

.input-form-small{
  max-width: 2em;
  justify-self: flex-end;
}

.input-form-box-label{
  justify-content: space-around;
}

.main-page{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.voting{
  padding-top: 10%;
  width: 70%;
  height: fit-content;
}

.chat-imporvise{
  background: #454545;
}

.messeges{
  padding-left: 15%;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
}