@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

body {
  font-size: 62.5%;
  font-family: 'Asap', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #d1d1d1;
  margin: 0%;
  padding: 0%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1d1d1;
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: #5B28BF;
}

img {
  width: 5rem;
}

h2{
  font-size: 5em;
}

.box-fieldset-code {
  background-color: #ffff;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.input-code-enter {
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 2px #424040;
  margin-bottom: 1rem;
}
.input-code-password {
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 2px #424040;
  margin-bottom: 1rem;
}

.input-code-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(135deg, #DADBCD,#5B28BF) ;
  padding: 0.4rem 1.6rem;
  border: none;
  cursor: pointer;
  margin: 0.5rem 2rem;
  color: #424040;
  border-radius: 10px;
  transition: all 1.2s ease;
  font-family: 'Asap', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.input-form{
  background-color: #f1f1f1;
  display: flex;
  font-size: 1.2rem;
  font-family: 'Asap', sans-serif;
  border: none;
  width: 70%;
  border: solid 2px ;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15%;
}

.btn-login{
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(135deg, #DADBCD,#5B28BF) ;
  padding: 0.4rem 1.6rem;
  border: none;
  cursor: pointer;
  margin: 2rem;
  color: #080808;
  border-radius: 10px;
  transition: all 1.2s ease;
  font-family: 'Asap', sans-serif;
}

.btn-login:hover{
  transition: all 1.2s ease;
  background: linear-gradient(135deg, #5B28BF, #DADBCD);
  color:#DADBCD ;
  
}

textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.asap { font-family: 'Asap', sans-serif; }

.divButtons{
  display: flex;
  justify-content: space-around;
  padding-left: 3em;
}

.page{
  display:flex;
  width: 100vw;
  height: 100vh;
}

.label-input{
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  padding-left: 2em;
}

.input-form-small{
  max-width: 3em;
  justify-self: flex-end;
}

.messeges{
  padding-left: 15%;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
}